#header{
  height: 60px;
}

md-card{
  width: 185px;
  height: 150px;
}

.search{
  padding: 3px; border:0; box-shadow: 3px; width: 500px; height: 30px; outline:none;
}

.white{
  background: white;
}

.blue{
  background-color: rgb(63,81,181);
}

.box-title{
  margin: 12px;
}